In [5]:
import pandas as pd
import numpy as np
import scipy.io as io
from sklearn.model_selection import train_test_split

In [9]:
features_names =  ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country"]
data1 = pd.read_csv(r"adult.csv", header=None, names=features_names + ["target"])

In [10]:
del data1["fnlwgt"]
del data1["education"]

In [11]:
def columnToNumber(item):
    pos = np.where(unique == item)
    if pos : return pos[0][0]
    else : return 0

In [12]:
for feature in data1.columns:
    unique = data1[feature].unique()
    data1[feature] = data1[feature].map(columnToNumber)

In [13]:
data1.head()

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0,1,1,1,0,0,1,0,1,0,0
2,2,2,1,2,2,0,0,0,1,0,0,0,0
3,3,2,2,1,2,1,1,0,1,0,0,0,0
4,4,2,0,1,3,2,1,1,1,0,0,1,0

In [15]:
data1.to_csv('datoslimpios.csv', sep=',', encoding='utf-8', index=False, header=False)

In [19]:
X = data1[data1.columns[0:data1.columns.size - 1]]
y = data1["target"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=43)

print X_train.shape
print y_train.shape

print X_test.shape
print y_test.shape

print X_val.shape
print y_val.shape

(19536, 12)
(19536,)
(6513, 12)
(6513,)
(6512, 12)
(6512,)

In [20]:
X_train.to_csv('xtrain.csv', sep=',', encoding='utf-8', index=False, header=False)
y_train.to_csv('ytrain.csv', sep=',', encoding='utf-8', index=False, header=False)

X_test.to_csv('xtest.csv', sep=',', encoding='utf-8', index=False, header=False)
y_test.to_csv('ytest.csv', sep=',', encoding='utf-8', index=False, header=False)

X_val.to_csv('xval.csv', sep=',', encoding='utf-8', index=False, header=False)
y_val.to_csv('yval.csv', sep=',', encoding='utf-8', index=False, header=False)